# Dependencias de Backend (Laravel)
/backend/vendor/
/backend/.env

# Dependencias de Frontend (React/Vite)
/frontend/node_modules/
/frontend/dist/
/frontend/.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db